@import '~variables';

.soundify-toolbar {
	position: sticky;
	top: 0;
	background-color: $color-black;
	z-index: $z-index-base;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 auto;
	max-height: 52px;

	padding: 10px 20px;
}
