@import '~variables';

.soundify-user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;

	&:hover {
		& .soundify-user__name {
			border-color: $color-white;
		}
	}

	&__photo {
		display: inline-block;
		height: 2rem;
		width: 2rem;
		margin: 0 1rem 0 0;
		border-radius: 50%;
		overflow: hidden;
	}

	&__name {
		display: inline-block;
		color: $color-white;
		border-bottom: 1px solid transparent;
		@include transition(0.2s);
	}
}
