@import 'variables';

.s-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $colorWhite;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index-modal;
	overflow: hidden;
}
