@import 'variables';

.s-control {
	display: grid;
	grid-template-columns: 25% 1fr 25%;
	grid-column-gap: 5rem;
	padding: 1rem 1.25rem;
	height: 100%;
	background-color: $color-primary;
	color: $colorWhite;

	&-track {
		display: flex;
		align-items: stretch;

		&-cover {
			position: relative;
			width: 3.5rem;
			height: 3.5rem;
			margin-right: 1.25rem;

			&__photo {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
			}
		}
	}

	&-actions {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		&__progress {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 0 100%;
		}
	}

	&-settings {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&-volume {
		width: 10rem;
	}
}
