@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/Roboto/RobotoRegular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/Roboto/RobotoBold.ttf');
}
