@import 'variables';

.s-player {
	display: block;

	&__sidebar {
		display: block;
		width: 240px;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: $z-index-base;
	}

	&__workspace {
		margin-left: 240px;
	}

	&__control {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: $z-index-base * 2;
		background-color: $color-primary;
	}
}
